@model Pathfinder.ViewModels.SkillViewer

@{
    ViewBag.Title = "Skills";
}

<h2>Skills</h2>

<table class="section">
    @foreach (var item in Model.SkillItems)
    {
        <tr ondblclick="@("SingleD20Roll('" + item.TrimmedName + "','" + item.Value + "')");">
            <td>@item.SkillName</td>
            <td style="text-align: right;" colspan="2">@item.Value</td>
        </tr>
    }
</table>