@model IEnumerable<Pathfinder.Models.AttackGroup>

@{
    ViewBag.Title = "Attacks";
}

<h2>Attacks</h2>

<table class="section noclick full">
    <thead onclick="ToggleRowsVisible('tblAttacks')">
        <tr>
            <td colspan="2">Name</td>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr class="attack_roll">
            <td>@item.Name</td>
            <td width="50">@Html.ActionLink("View", "View", new { Id = item.AttackId })</td>
        </tr>
    }
</table>
@Html.ActionLink("+ [New Attack]", "Create", new { Id = Session["CharacterId"] })

<!-- Attack Roller -->
@*<div class="modal fade" id="attackRoller" tabindex="-1" role="dialog" aria-labelledby="attackerTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="attackerTitle"></h3>
            </div>
            <div class="modal-body">
                <table id="tblAttacks" class="attack-roller section"></table><br />
                <span id="attackRollString" style="padding-left: 10px; font-size: medium; color: darkgray; text-align: left;"></span>
            </div>
            <div class="modal-body">
                <table class="full">
                    <tr>
                        <td><input id="txtAttackBonus" type="tel" class="form-control" placeholder="Attack"></td>
                        <td><input id="txtDamageBonus" type="tel" class="form-control" placeholder="Damage"></td>
                        <td><input id="txtCriticalMultiplier" type="tel" class="form-control" placeholder="Critical"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>*@

